@import "../variables";

// Button: just button ^_^
%buttonBasic {
    display: inline-flex;
    align-items: center;

    padding: $button-padding;

    font-size: $help-font-height;
    color: $text-second-color;
    border-radius: $button-radius;

    cursor: pointer;
    user-select: none;
    background: $background-color;

    outline: none;

    svg {
        height: $help-font-height;
    }

    &:focus-visible {
        z-index: 1;
        box-shadow: 0 0 0 $shadow-length $shadow-color;
        outline: solid 1px $important-color;
    }
}

.button {
    @extend %buttonBasic;

    border: solid 1px $dark-background-color;

    &.noBorder {
        border: none;
    }

    &:not([disabled]):hover {
        background-color: $dark-background-color;
        color: $text-first-color;
    }
}

.darkButton {
    @extend %buttonBasic;

    border: solid 1px $light-background-color;
    background: $dark-background-color;

    &.noBorder {
        border: none;
    }

    &:not([disabled]):hover {
        background-color: $light-background-color;
        color: $text-first-color;
    }
}
