@import "../variables";
@import "../util";

// Button: just button ^_^
%buttonBasic {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;

    padding: $button-padding;

    font-size: $help-font-height;
    color: $text-second-color;
    border-radius: $button-radius;

    cursor: pointer;
    user-select: none;

    outline: none;

    svg {
        height: $help-font-height;
    }
    
    @extend %focus;
}

.button {
    @extend %buttonBasic;

    border: solid 1px $dark-background-color;
    background: $background-color;

    &.noBorder {
        border: solid 1px $background-color;
    }

    &:not([disabled]):hover {
        background-color: $dark-background-color;
        color: $text-first-color;
    }
}

.darkButton {
    @extend %buttonBasic;

    border: solid 1px $light-background-color;
    background: $dark-background-color;

    &.noBorder {
        border: solid 1px $dark-background-color;
    }

    &:not([disabled]):hover {
        background-color: $light-background-color;
        color: $text-first-color;
    }
}
