@import "../variables";
@import "../util";

.from {
    display: inline-flex;
}

.input {
    position: relative;
    box-sizing: border-box;
    width: 64px; // TODO(update: todo what?)
    height: $button-height;
    padding: $button-padding;
    margin: 0;
    color: $text-first-color;
    font-size: $help-font-height;
    background: $light-background-color;
    border: none;
    border-radius: 4px 0px 0px 4px;
    outline: none;

    @extend %focus;
}

.paginationButton  {
    display: inline-block;
    min-width: $button-height;

    &.current {
        color: $important-color;
        font-weight: bold;
    }

    svg {
        width: $text-font-height;
        height: $text-font-height;
    }

    &.jump {
        border-radius: 0px 4px 4px 0px;
        background: $light-background-color;
        border: solid 1px $light-background-color;
    }
}
