@import "../variables";

.textbox {
    width: 100%;
    box-sizing: border-box;

    > * {
        margin: 0 0 $button-padding 0;

        &:last-child {
            margin: 0;
        }
    }

    textarea {
        position: relative;
        box-sizing: border-box;
        z-index: 1;

        height: 100px;
        width: 100%;
        padding: $button-padding;
        border: none;
        border-radius: 0px;
        background: $light-background-color;

        font-size: $text-font-height;

        color: $text-first-color;
        resize: none;
        outline: none;
    
        &:focus {
            box-shadow: 0 0 0 $shadow-length $shadow-color;
        }
    }
}

