.App {
  background-color: #282c34;
}

.App-header {
  min-height: 40vmin;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 20vmin;
  color: white;
  width: calc(100vmin - 32px);
  margin: auto;
}

.App-header-footnote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #aaaaaa;
  font-size: 20px;
  align-items: center;
  margin: 0;
}

.App-header-footnote-font {
  margin: 0;
}

.App-header-footnote-none {
  flex: auto;
  background-color: #aaaaaa;
  content: "";
  display: inline-block;
  height: 1px;
  margin: 0 12px;
}

.App-content {
  min-height: calc(100vh - 40vmin - 2 * 48px);
  display: flex;
  flex-direction: column;
  font-size: 24px;
  width: calc(100vmin - 32px);
  padding: 48px 0;
  margin: auto;
  color: white;
}
